{% extends 'base.html' %}
{% block head_css %}
<link rel=stylesheet href={{ url_for('main.static', filename='css/main.css') }}/>
{% endblock %}
{% block main %}
  <p><i>Good-for-nothing</i> is a project by <a href=https://kersulis.com>
    Nicholas Kersulis</a> and <a href=https://skeptic.ist>Nathan</a>
    <a href=https://obstructures.org>Matteson</a>.</p>
  <ul>
    <li><a href=/no1>
        Good-for-nothing (no. 1)</a></li>
    <li><a href=/hal9000portrait>
        Good-for-nothing (HAL 9000 portrait)</a></li>
    <li><a href=/selfie1>
        Good-for-nothing (Selfie #1)</a></li>
{#    <li><a href={{ url_for('walldrawing1.index') }}>#}
{#        Good-for-nothing (Wall drawing no. 1)</a></li>#}
{#    <li><a href={{ url_for('walldrawing6114a.index') }}>#}
{#        Good-for-nothing (Wall drawing 6114a)</a></li>#}
  </ul>
{% endblock %}