{% extends 'base.html' %}
{% block head_css %}
<link rel=stylesheet href={{ url_for('main.static', filename='css/main.css') }}/>
{% endblock %}
{% block main %}
  <p><i>Good for nothing</i> is a project by <a href=kersulis.com>
    Nicholas Kersulis</a> and <a href=skeptic.ist>Nathan Matteson</a>.</p>
  <ul>
    <li><a href=/no1>
        Good for nothing (no. 1)</a></li>
    <li><a href=/hal9000portrait>
        Good for nothing (HAL 9000 portrait)</a></li>
    <li><a href=/selfie1>
        Good for nothing (Selfie #1)</a></li>
  </ul>
{% endblock %}