{% extends 'base.html' %}
{% block head_css %}
<link rel=stylesheet href={{ url_for('main.static', filename='css/main.css') }}/>
{% endblock %}
{% block main %}
  <p><i>Good-for-nothing</i> is a project by <a href=https://kersulis.com>
    Nicholas Kersulis</a> and <a href=https://skeptic.ist>Nathan</a>
    <a href=https://obstructures.org>Matteson</a>.</p>
  <ul>
    <li><a href={{ url_for('writing.preamble') }}>
      Preamble to a good-for-nothing</a></li>
    <li><a href={{ url_for('no1.index') }}>
      Good-for-nothing (no. 1)</a></li>
    <li><a href={{ url_for('no2.index') }}>
      Good-for-nothing (no. 2)</a></li>
    <li><a href={{ url_for('pours.index') }}>
      Good-for-nothing (pours)</a></li>
    <li><a href={{ url_for('pours.black') }}>
      Good-for-nothing (pours #2)</a></li>
    <li><a href={{ url_for('pixilated.index') }}>
      Good-for-nothing (pixilated)</a></li>
    <li><a href={{ url_for('walldrawings.walldrawing_2019') }}>
      Good-for-nothing (Wall drawing 2019)</a></li>
    <li><a href={{ url_for('main.sketches') }}>
      Good-for-nothing sketches</a></li>
  </ul>
{% endblock %}