{% extends 'base.html' %}
{% block title_extra %}(Wall drawing #1){% endblock %}
{% block head_css %}
  <link rel=stylesheet
        href={{ url_for('walldrawings.static', filename='css/no1/main.css') }}>
{% endblock %}
{% block body_js %}
<script src={{ url_for('static', filename='js/vendor/d3.v5.min.js') }}></script>
<script src={{ url_for('walldrawings.static', filename='js/no1/vars.js') }}></script>
<script src={{ url_for('walldrawings.static', filename='js/no1/main.js') }}></script>
{% endblock %}